html, body {
    padding: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.center {
    margin: auto;
    width: 50%;
}

.thumbnail {
    background: #FE6634;
}

.img-maxh-200 {
    box-shadow: 0px 2px 2px #474747;
    width: 100%;
    max-height: 200px;
}

hr {
    margin: 30px 0;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #FE121E, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #FE121E, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #FE121E, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #FE121E, #f0f0f0);
}

/* Tables */
th, td {
    text-align: center;
    font-weight: normal;
}

thead th {
    border-bottom: 2px solid #FF6434 !important;
}

tbody td {
    border: 2px solid #FF6434;
}

tbody > tr:nth-child(odd) {
    background: #FFF1CC;
}

td:first-child {
    border-left-width: 0;
}

td:last-child {
    border-right-width: 0;
}

/* Text styles */
.white-text {
    color: white;
}

.text-17, .text-18, .text-20, .section-header-text {
    font-style: italic;
    font-family: 'Arial';
}

.text-17 {
    font-size: 17px;
}

.text-18 {
    font-size: 18px;
}

.text-20 {
    font-size: 20px;
}

.section-header-text {
    font-size: 30px;
    text-align: center;
}

.header-text-48, .header-text-90 {
    font-family: 'Segoe Script';
}

.header-text-90 {
    font-size: 90px;
}

.header-text-48 {
    font-size: 48px;
}

.underlined {
    text-decoration: underline;
}

/* footer & header styles */
.header {
    padding: 20px;
    border-radius: 0px;
    border-width: 0px;
}

.red-gradient {
    background: rgba(255,129,138,1);
    background: -moz-linear-gradient(top, rgba(255,129,138,1) 0%, rgba(255,129,138,1) 5%, rgba(255,4,21,1) 20%, rgba(255,4,21,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,129,138,1)), color-stop(5%, rgba(255,129,138,1)), color-stop(20%, rgba(255,4,21,1)), color-stop(100%, rgba(255,4,21,1)));
    background: -webkit-linear-gradient(top, rgba(255,129,138,1) 0%, rgba(255,129,138,1) 5%, rgba(255,4,21,1) 20%, rgba(255,4,21,1) 100%);
    background: -o-linear-gradient(top, rgba(255,129,138,1) 0%, rgba(255,129,138,1) 5%, rgba(255,4,21,1) 20%, rgba(255,4,21,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,129,138,1) 0%, rgba(255,129,138,1) 5%, rgba(255,4,21,1) 20%, rgba(255,4,21,1) 100%);
    background: linear-gradient(to bottom, rgba(255,129,138,1) 0%, rgba(255,129,138,1) 5%, rgba(255,4,21,1) 20%, rgba(255,4,21,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff818a', endColorstr='#ff0415', GradientType=0 );
}

footer {
    padding: 15px 0;
    margin-top: 40px;
    line-height: 15px;
}

a:link, a:visited {
    color: #FFF !important;
}

a:hover {
    color: #777373 !important;
}

a:active {
    color: #C4BDBD !important;
}
